<div class="im-dlg-wrapper">
  <div class='im-pc'>
    <div class="imd-close"></div>
    <div class="im-dlg-content">
      <iframe id="__hkyim-act-iframe__" class="act-iframe" src="" frameborder="0"></iframe>
      <div class="act-preview-container" style="display: none;">
        <img class="act-preview-pc" src="" alt="" >
      </div>
     
    </div>
  </div>
  <div class="im-mobile">
    <div class="m-imd-close"></div>
    <div class="m-im-dlg-content">
      <iframe id="__m-hkyim-act-iframe__" class="act-iframe" src="" frameborder="0"></iframe>
      
      <div class="act-preview" style="display: none;">
        <img class="act-preview-img-m" src="" alt="" >
      </div>
    </div>
  </div>

</div>